


runs/
__pycache__/
.ipynb_checkpoints/
*.pt
*.jpg
*.png
*.mp4
data/

results/**/weights/
results/**/predictions/
results/**/labels/
results/**/events.out.tfevents.*
results/**/.cache
results/**/*.pt
results/**/*.onnx
results/**/*.engine
results/**/*.xml
results/**/*.bin

# Keep only metrics and plots
!results/**/results.csv
!results/**/confusion_matrix.png
!results/**/PR_curve.png
!results/**/results.png